In [1]:
import os
from dotenv import load_dotenv
load_dotenv()
os.environ['OPENAI_API_KEY'] = os.getenv("OPENAI_API_KEY")

os.environ["LANGCHAIN_TRACING_V2"]="true"
os.environ["LANGCHAIN_API_KEY"] = os.getenv("LANGCHAIN_API_KEY")

In [2]:
from langchain_community.utilities.sql_database import SQLDatabase
db_user = "root"
db_password = "root"
db_host = "localhost"  
db_port = "3306"  
db_name = "classicmodels"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [3]:
print(db.dialect)

mysql

In [4]:
print(db.get_usable_table_names())

['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

In [5]:
print(db.table_info)

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [6]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI
llm = ChatOpenAI(model="gpt-3.5-turbo-0125", temperature=0)
generate_query = create_sql_query_chain(llm , db)
query = generate_query.invoke({"question": "what is price of `1968 Ford Mustang`"})
query

"SELECT `buyPrice`, `MSRP`\nFROM products\nWHERE `productName` = '1968 Ford Mustang'\nLIMIT 1;"

In [10]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
execute_query_tool = QuerySQLDataBaseTool(db = db)
execute_query_tool.invoke(query)

"[(Decimal('95.34'), Decimal('194.57'))]"

In [11]:
 from operator import itemgetter

 from langchain_core.output_parsers import StrOutputParser
 from langchain_core.prompts import PromptTemplate
 from langchain_core.runnables import RunnablePassthrough

 answer_prompt = PromptTemplate.from_template(
     """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

 Question: {question}
 SQL Query: {query}
 SQL Result: {result}
 Answer: """
 )

 rephrase_answer = answer_prompt | llm | StrOutputParser()

 chain = (
     RunnablePassthrough.assign(query=generate_query).assign(
         result=itemgetter("query") | execute_query_tool
     )
     | rephrase_answer
 )

 chain.invoke({"question": "what is price of `1968 Ford Mustang"})
#On invoking the chain , question -> generate_query[(llm , db) chain] generates query and stores it in query variable -> itemgetter extracts the query item and passes it to execute_query_tool which executes the query , generates the result and stores it in result variable
#Now there is (question , query , result) inside the chain -> rephrase_answer
#Inside rephrase_answer chain , (question ,query ,answer) -> prompt template -> llm -> output parser -> output

'The price of the 1968 Ford Mustang is $95.34.'

In [12]:
chain.invoke({"question": "How many customers have an order count greater than 5"})

'There are 2 customers who have an order count greater than 5.'

In [14]:
chain.invoke({"question": "Find the top 5 products with the highest total sales revenue"})

'The top 5 products with the highest total sales revenue are:\n1. 1992 Ferrari 360 Spider red - $276,839.98\n2. 2001 Ferrari Enzo - $190,755.86\n3. 1952 Alpine Renault 1300 - $190,017.96\n4. 2003 Harley-Davidson Eagle Drag Bike - $170,686.00\n5. 1968 Ford Mustang - $161,531.48'

In [15]:
chain.invoke({"question": "List the top 3 countries with the highest number of orders"})

'The top 3 countries with the highest number of orders are:\n1. USA with 112 orders\n2. France with 37 orders\n3. Spain with 36 orders'