In [1]:
from langchain.agents import load_tools
from langchain.agents import initialize_agent
from langchain.agents import AgentType
from langchain.llms import OpenAI
from dotenv import load_dotenv

In [19]:
import os
load_dotenv()
os.environ['OPENAI_API_KEY'] = os.getenv("OPENAI_API_KEY")
os.environ['SERPAPI_API_KEY'] = os.getenv("SERPAPI_API_KEY")
os.environ["LANGCHAIN_TRACING_V2"]="true"
os.environ["LANGCHAIN_API_KEY"] = os.getenv("LANGCHAIN_API_KEY")

In [3]:
%pip install google-search-results

Requirement already satisfied: google-search-results in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (2.4.2)
Requirement already satisfied: requests in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (from google-search-results) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (from requests->google-search-results) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (from requests->google-search-results) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (from requests->google-search-results) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (from requests->google-search-results) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install numexpr

Requirement already satisfied: numexpr in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (2.10.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.0 in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (from numexpr) (1.26.4)

In [5]:
llm = OpenAI(temperature=0)
tools = load_tools(["serpapi", "llm-math"], llm=llm)
# tools = ["serpapi", "llm-math"]
agent = initialize_agent(tools, llm, agent=AgentType.ZERO_SHOT_REACT_DESCRIPTION , verbose = True )

c:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain_core\_api\deprecation.py:139: LangChainDeprecationWarning: The class `OpenAI` was deprecated in LangChain 0.0.10 and will be removed in 0.3.0. An updated version of the class exists in the langchain-openai package and should be used instead. To use it run `pip install -U langchain-openai` and import as `from langchain_openai import OpenAI`.
  warn_deprecated(
c:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain_core\_api\deprecation.py:139: LangChainDeprecationWarning: The function `initialize_agent` was deprecated in LangChain 0.1.0 and will be removed in 0.3.0. Use Use new agent constructor methods like create_react_agent, create_json_agent, create_structured_chat_agent, etc. instead.
  warn_deprecated(

In [6]:
agent.run("Who is Leo DiCaprio's girlfriend? What is her current age raised to the 0.43 power?")

c:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain_core\_api\deprecation.py:139: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new AgentExecutor chain...
 I should use the search engine to find information about Leo DiCaprio's girlfriend.
Action: Search
Action Input: "Leo DiCaprio girlfriend"
Observation: Vittoria Ceretti
Thought: Now that I know her name, I can use the search engine again to find her age.
Action: Search
Action Input: "Vittoria Ceretti age"
Observation: 26 years
Thought: I can use the calculator to raise her age to the 0.43 power.
Action: Calculator
Action Input: 26, 0.43
Observation: Answer: 26.43
Thought: I now know the final answer.
Final Answer: 26.43

> Finished chain.

'26.43'

## SQL DATABASE INTEGRATION

In [7]:
import os
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.llms import OpenAI
from langchain.sql_database import SQLDatabase
from langchain.agents import AgentExecutor

In [8]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\administrator\appdata\local\programs\python\python310\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
db_user = "root"
db_password = "root"
db_host = "localhost"  
db_port = "3306"  
db_name = "classicmodels"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [11]:
from langchain_openai import ChatOpenAI
llm = ChatOpenAI(model="gpt-3.5-turbo-0125", temperature=0)
# llm = OpenAI(temperature=0)

In [12]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
agent_executor = create_sql_agent(llm, toolkit, verbose=True)

In [13]:
agent_executor.run("Describe the Order related table and how they are related")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, employees, offices, orderdetails, orders, payments, productlines, productsI should query the schema of the tables related to orders to understand their structure.
Action: sql_db_schema
Action Input: orders, orderdetails
CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/Based on the schema and sample rows from the tables, I can see that the `orders` table contains information about each order, such as the order number, order date, required date, shipped date, status, comments, and customer number. The `orderdetails` table contains details about each product in an order, such as the order number, product code, quantity ordered, price each, and order line number. The two tables are related by the `orderNumber` column in both tables.
Final Answer: The `orders` table contains information about each order, and the `orderdetails` table contains details about each product in an order. They are related by the `orderNumber` column.

> Finished chain.

'The `orders` table contains information about each order, and the `orderdetails` table contains details about each product in an order. They are related by the `orderNumber` column.'

In [14]:
agent_executor.run("Describe the PurchaseDetails table")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, employees, offices, orderdetails, orders, payments, productlines, productsI should query the schema of the PurchaseDetails table to describe it.
Action: sql_db_schema
Action Input: PurchaseDetailsError: table_names {'PurchaseDetails'} not found in databaseI made a mistake in the table name. I should try querying the schema of the correct table.
Action: sql_db_schema
Action Input: orderdetails
CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/The PurchaseDetails table is actually named orderdetails. It has columns for orderNumber, productCode, quantityOrdered, priceEach, and orderLineNumber. It also has foreign key constraints referencing the orders and products tables.
Final Answer: The PurchaseDetails table, which is actually named orderdetails, contains information about orders such as the order number, product code, quantity ordered, price each, and order line number.

> Finished chain.

'The PurchaseDetails table, which is actually named orderdetails, contains information about orders such as the order number, product code, quantity ordered, price each, and order line number.'

In [15]:
agent_executor.run("Describe OrderDetails table")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, employees, offices, orderdetails, orders, payments, productlines, productsI should query the schema of the OrderDetails table to see its structure.
Action: sql_db_schema
Action Input: OrderDetailsError: table_names {'OrderDetails'} not found in databaseI should double check the table name to ensure it is correct.
Action: sql_db_schema
Action Input: orderdetails
CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/The OrderDetails table contains columns for orderNumber, productCode, quantityOrdered, priceEach, and orderLineNumber. It also has foreign key constraints referencing the Orders and Products tables. Some sample rows from the table are shown above.
Final Answer: The OrderDetails table contains information about the products ordered in each order, including the quantity, price, and order line number.

> Finished chain.

'The OrderDetails table contains information about the products ordered in each order, including the quantity, price, and order line number.'

In [16]:
agent_executor.run("Find the top 5 products with the highest total sales revenue")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, employees, offices, orderdetails, orders, payments, productlines, productsI should query the schema of the orders, orderdetails, and products tables to find the relevant columns for total sales revenue.
Action: sql_db_schema
Action Input: orders, orderdetails, products
CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/I should join the orders, orderdetails, and products tables on the relevant columns to calculate the total sales revenue for each product.
Action: sql_db_query
Action Input: SELECT p.productCode, p.productName, SUM(od.quantityOrdered * od.priceEach) AS totalRevenue
FROM products p
JOIN orderdetails od ON p.productCode = od.productCode
GROUP BY p.productCode, p.productName
ORDER BY totalRevenue DESC
LIMIT 5[('S18_3232', '1992 Ferrari 360 Spider red', Decimal('276839.98')), ('S12_1108', '2001 Ferrari Enzo', Decimal('190755.86')), ('S10_1949', '1952 Alpine Renault 1300', Decimal('190017.96')), ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', Decimal('170686.00')), ('S12_1099', '1968 Ford Mustang', Decimal('161531.48'))]I now know the final answer
Final Answer: The top 5 products with the highest total sales revenue are:
1. Product Code: S18_3232, Product Name: 1992 Ferrari 360 Spider red, Total Revenue: $276,839.98
2. Product Code: S12_1108, Product Name: 2001 Ferrari Enzo, Total Revenue: $190,755.86
3. Product Code: S10_1949, Product Name: 1952 Alpine Renault 1300, Total Revenue: $190,017.96
4. Product Code: S10_4698, Product Name: 2003 Harley-Davidson Eagle Drag Bike, Total Revenue: $170,686.00
5. Product Code: S12_1099, Product Name: 1968 Ford Mustang, Total Revenue: $161,531.48

> Finished chain.

'The top 5 products with the highest total sales revenue are:\n1. Product Code: S18_3232, Product Name: 1992 Ferrari 360 Spider red, Total Revenue: $276,839.98\n2. Product Code: S12_1108, Product Name: 2001 Ferrari Enzo, Total Revenue: $190,755.86\n3. Product Code: S10_1949, Product Name: 1952 Alpine Renault 1300, Total Revenue: $190,017.96\n4. Product Code: S10_4698, Product Name: 2003 Harley-Davidson Eagle Drag Bike, Total Revenue: $170,686.00\n5. Product Code: S12_1099, Product Name: 1968 Ford Mustang, Total Revenue: $161,531.48'

In [17]:
agent_executor.run("List the top 3 countries with the highest number of orders")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, employees, offices, orderdetails, orders, payments, productlines, productsI should query the orders table to find the number of orders per country.
Action: sql_db_schema
Action Input: orders
CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/I can now query the orders table to find the top 3 countries with the highest number of orders.
Action: sql_db_query
Action Input: SELECT COUNT(orderNumber) AS num_orders, o.country FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber GROUP BY o.country ORDER BY num_orders DESC LIMIT 3Error: (pymysql.err.OperationalError) (1054, "Unknown column 'o.country' in 'field list'")
[SQL: SELECT COUNT(orderNumber) AS num_orders, o.country FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber GROUP BY o.country ORDER BY num_orders DESC LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/e3q8)I need to check the schema of the customers table to see the available columns.
Action: sql_db_schema
Action Input: customers
CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/I should use the `country` column from the customers table to find the top 3 countries with the highest number of orders.
Action: sql_db_query
Action Input: SELECT COUNT(o.orderNumber) AS num_orders, c.country FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber GROUP BY c.country ORDER BY num_orders DESC LIMIT 3[(112, 'USA'), (37, 'France'), (36, 'Spain')]I now know the final answer
Final Answer: The top 3 countries with the highest number of orders are USA, France, and Spain.

> Finished chain.

'The top 3 countries with the highest number of orders are USA, France, and Spain.'

In [20]:
agent_executor.run("How many orders do we have?")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, employees, offices, orderdetails, orders, payments, productlines, productsThe "orders" table seems to be the most relevant for this question. I should query its schema to see the structure of the table.
Action: sql_db_schema
Action Input: orders
CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/I can now construct a query to count the number of orders in the database.
Action: sql_db_query
Action Input: SELECT COUNT(orderNumber) AS total_orders FROM orders[(326,)]I now know the final answer
Final Answer: There are 326 orders in the database.

> Finished chain.

'There are 326 orders in the database.'